include ../new/new
include ../about/about
include ../row/row
include ../post/post
include ../categories/categories
include ../subscribe/subscribe
include ../popular-post/popular-post
include ../follows/follows
include ../tags/tags
include ../slider/slider

mixin index()
	+b('main').index
		+e.__wrapper-left
			+new(getData('new'))
			+row
				+post(getData('post-one')) 
				+post(getData('post-two'))
			+row
				+post(getData('post-three'))
				+post(getData('post-four'))
			+slider
				+new(getData('slide-1'))
				+new(getData('slide-2'))
				+new(getData('slide-3'))
				+new(getData('slide-4'))
		+e.__wrapper-right
			+about(getData('about-text'))
			+categories(getData('categories'))
			+subscribe
			+popular-post(getData('popular-post'))
			+follows
			+tags