.index
	max-width 1200px
	padding-top 60px
	display flex 
	margin 0 auto


	&__wrapper-left
		flex-basis 757px
		margin-right 7%

	&__wrapper-right
		flex-basis 344px
		height 100%
		background-color #e7e7e7



@media screen and (max-width 1166px)
	.index
		flex-wrap wrap

		&__row
			display flex

		&__wrapper-left
			margin 0 auto
			width 100%
			flex-basis 100%

		&__wrapper-right
			width 100%
			flex-basis 100%
			display flex
			margin-left 0
			flex-direction column
			align-items center
			