include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../header/header
include ../box/box
include ../header/header
include ../index/index
include ../gallery/gallery
include ../footer/footer
include ../arrow-scroll/arrow-scroll
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		+box
			+header
			+index
			+gallery(getData('gallery'))
			+footer
			+arrow-scroll
			block content
		+scripts(['app.min.js'])
