.follows
	display flex
	min-height 442px
	justify-content space-around
	border 2px solid #000
	align-items center
	flex-direction column

	&__title
		heading()

	&__content
		display flex
		justify-content space-around
		flex-wrap wrap
		width 85%
		margin 0 auto
		min-height 100%

	&__link
		padding 5px