mixin follows()
	+b('aside').follows&attributes(attributes)
		+e('h2').title follow on instagram
		+e.content
			+e('a').link(href="javascript:void(0)", title="title") 
				+e.img(src='../assets/images/daria.jpg' alt='daria')
			+e('a').link(href="javascript:void(0)", title="title") 
				+e.img(src='../assets/images/oksana.jpg' alt='oksana')
			+e('a').link(href="javascript:void(0)", title="title") 
				+e.img(src='../assets/images/svetlana.jpg' alt='svetlana')
			+e('a').link(href="javascript:void(0)", title="title") 
				+e.img(src='../assets/images/valeria.jpg' alt='valeria')
