mixin subscribe()
	+b('aside').subscribe&attributes(attributes)
		+e('h3').title 
			| subscrube to newletter
		+e('p').description 
			| subscribe to our free newsletter to be in touch with our new articles.
		+e('form').mail( action="google.com" method="post")
			+e('input').field(placeholder="your e-mail..." type="email")
			+e('button').confirm 
				| subscrube

