$cancel = 21.9px 21.9px
$icon-facebook = 438px 438px
$icon-google = 491.858px 491.858px
$icon-heart = 511px 511px
$icon-instagram = 438px 438px
$icon-pinterest = 438px 438px
$icon-rss = 402px 402px
$icon-search = 475px 475px
$icon-twitter = 449px 449px
$logo = 279.4px 29.8px
$share-img-behance = 100px 100px
$share-img-dribbble = 100px 100px
$share-img-facebook = 100px 100px
$share-img-twitter = 100px 100px


svgSize($icon)
	width $icon[0]
	height $icon[1]