mixin share()
	+b('ul').share
		+e('li').item
			+e('a').name-soc(href='javascript:void(0)')
				+icon('share-img-facebook')(width='37' height='41')
		+e('li').item
			+e('a').name-soc(href='javascript:void(0)')
				+icon('share-img-twitter')(width='37' height='41')
		+e('li').item
			+e('a').name-soc(href='javascript:void(0)')
				+icon('share-img-dribbble')(width='37' height='41')
		+e('li').item
			+e('a').name-soc(href='javascript:void(0)')
				+icon('share-img-behance')(width='37' height='41')
	
