include ../logo/logo
include ../main-menu/main-menu
include ../search-button/search-button
include ../social-list/social-list
include ../burger/burger

mixin header()
	+b('header').header(role='banner' style='background: url("assets/images/background.jpg"); height: 100vh;background-repeat: no-repeat;background-position: center top;background-size: cover;')
		+e.wrapper
			+e.content
				+logo
				+burger
				+main-menu
				+e.hg-group
					+search-button
					+social-list