include ../logo/logo
include ../main-menu/main-menu
include ../search-button/search-button
include ../social-list/social-list
include ../burger/burger

mixin header()
	+b('header').header&attributes(attributes)
		+e.wrapper
			+e.content
				+logo
				+burger
				+main-menu
				+e.hg-group
					+search-button
					+social-list