mixin social-author()
	+b('ul').social-author
		+e('li').item
			+e('a').link(href='javascript:void(0);')
				+icon('icon-facebook')(width='16' height='16')
		+e('li').item
			+e('a').link(href='javascript:void(0);')
				+icon('icon-pinterest')(width='16' height='16')
		+e('li').item
			+e('a').link(href='javascript:void(0);')
				+icon('icon-twitter')(width='16' height='16')
		+e('li').item
			+e('a').link(href='javascript:void(0);')
				+icon('icon-google')(width='16' height='16')
		+e('li').item
			+e('a').link(href='javascript:void(0);')
				+icon('icon-instagram')(width='16' height='16')
		+e('li').item
			+e('a').link(href='javascript:void(0);')
				+icon('icon-rss')(width='16' height='16')
