.footer
	min-height 135px
	background-color #F3F3F3
	margin-top 50px
	width 100%
	display flex

	&__wrap
		margin 0 auto
		width 1149px
		display flex
		flex-direction row
		align-items center
		justify-content space-between

	&__content
		width 100%
		margin 0 auto
		display flex
		flex-direction row
		align-items center
		justify-content space-between

	&__love-sector
		display flex
		flex-direction row

	&__love-text
		margin 5px

	&__name-des
		margin 5px

@media screen and (max-width: 696px)
	.footer
		
		&__content
			flex-direction column

		&__love-sector
			margin-top 20px
