.footer
	min-height 135px
	background-color #F3F3F3
	margin-top 50px

	&__wrap
		width 1149px
		margin 0 auto
		width 100%

	&__content
		display flex
		flex-direction row
		align-items center
		justify-content space-between
		flex-wrap wrap
		flex auto

	&__love-sector
		display flex
		flex-direction row

	&__love-text
		margin 5px

	&__name-des
		color align-content center 
		margin 5px

@media screen and (max-width: 696px)
	.footer
		
		&__content
			flex-direction column

		&__love-sector
			margin-top 20px
