.post
	display flex
	flex-basis 355px
	flex-direction column
	min-height 540px
	margin-top 15px
	margin-bottom 25px
	font-family mfont
	justify-content space-between

	&__title
		text-transform uppercase
		text-decoration none
		color accent

		&:hover
			opacity .7
			transition-duration .5s

	&__date
		text-transform uppercase


	&__name
		font-family sfont
		font-weight bold
		text-transform uppercase
		margin 10px
		font-size 1.5em

	&__image
		max-width 100%
		
	&__description
		line-height 1.7
		font-size .9em
		min-height 100px
		margin-bottom 10px



	&__share
		position absolute
		bottom 2%
		right 2%

	&__read-more
		align-self flex-start
		font-family mfont
		font-size 0.9em
		color #ffffff
		font-weight bold
		background-color accent
		padding 15px
		width 130px
		text-align center
		border-radius 30px
		effect-btn()





@media screen and (max-width 765px)
	.post
		flex-basis 90%
		text-align center

		&__description
			font-size 1.5em

		&__read-more
			align-self center

@media screen and (max-width 500px)
	.post
		flex-basis 100%

		&__description
			padding-left 15px
			padding-right 15px
			margin 5px
			