mixin popular-post(data)
	+b('aside').popular-post&attributes(attributes)
		+e('h3').title popular post
		each val in data
			+e('div').el-post
				+e.media-obj
					+e.media-img
						+e('a').link(href='javascript:void(0);')
							+e('img').post-image(src="#{val.image}" alt="post")
					+e.media-body
						+e('span').date #{val.date}
						+e('a').name(href='javascript:void(0);') #{val.name}
				
		