.popular-post
	display flex
	flex-direction column
	justify-content space-around
	border 2px solid #000
	margin-bottom 35px
	height 486px
	min-height 486px
	align-items center

	&__title
		heading()

	&__media-obj
		display flex
		width 266px
		height 76px

	&__date
		text-transform uppercase
		font-size .7em

	&__post-image
		max-width 115px
		max-height 76px

	&__media-img
		margin-right 10px

	&__media-body
		max-width 143px

	&__name
		display block
		text-decoration none
		font-weight bold
		font-size .7em
		text-transform uppercase
		color #000000
		line-height 1.5
		
		&:hover
			text-decoration underline
			color accent


